body {
  position: absolute;
  margin: 0 auto;
  border: 0px solid red;
  font-family: monospace;
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

}

body,
html {
  height: 100%;
  width: 100%;
}

code {
  font-family: 'Montserrat', sans-serif;
}